<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Teleprompter.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Teleprompter.My.MySettings>
            <setting name="Font" serializeAs="String">
                <value>Arial, 64pt</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="LineSpacingFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Speed" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Smoothness" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
        </Teleprompter.My.MySettings>
    </userSettings>
</configuration>